<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
      .image-container {
        width: 100%;
        overflow: hidden;
    }

    .full-width {
        width: 100%;
        height: auto;
        display: block;
    }
    </style>

    {% extends 'base.html' %}

    {% block content %}
    {% load static %}
    <div class="image-container">
      <img src="{%static 'images/IRISET.png' %}" class="full-width">
  </div>
    {% endblock %}
